.deleteButton {
  padding: 7px 20px;
  border: 2px solid transparent;
  background: brown;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.deleteButton:hover {
  background: black;
  border-bottom: 2px solid black;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ghostwhite;
  margin-top: 5px;
  padding-left: 10px;
}
.itemText {
  width: 100%;
  cursor: pointer;
}
