.todoForm {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.formInput {
  padding: 5px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-bottom: 2px solid black;
}

.formInput:focus {
  outline: none;
}

.succesButton {
  padding: 7px 20px;
  border: 2px solid transparent;
  background: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.succesButton:hover {
  background: white;
  border-bottom: 2px solid black;
  color: black;
}
