.TodoInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formInput {
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 100%;
  border-bottom: 2px solid black;
  height: 180px;
  background-color: whitesmoke;
}

.formInput:focus {
  outline: none;
}

.succesButton {
  padding: 7px 20px;
  border: 2px solid transparent;
  background: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40%;
}

.succesButton:hover {
  background: white;
  border-bottom: 2px solid black;
  color: black;
}
